.bg-active-image {
    height: 50vh;
    background-position: center;
    background-size: cover;
}

.pos-rel {
    position: relative;
}

.pos-abs-1 {
    position: absolute;
}

.blur {
    filter: blur(20px);
    height: 50vh;
}

.active-image-size {
    height: 40vh;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.desc-height {
    height: 50%;
}

// FROST BACKGROUND FOR EVENT CARD
.frosted {
    background: rgba(0, 0, 0, 0.18);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.8px);
    -webkit-backdrop-filter: blur(8.8px);
    height: 100%;
}

// WHITE FONT FOR EVENT CARD
.eventDetailsFont{ 
    -webkit-text-stroke: .5px rgba(0, 0, 0, 0.103);
    color: #E9C46A !important;
    text-shadow:
      2px 2px 1px #000,
      -1px -1px 1px #000,
      1px -1px 1px #000,
      -1px 1px 1px #000,
      1px 1px 1px #000;
}

// BLUE FONT FOR NUMBER OF ATTENDEES
.ticketsLeftFont{ 
    -webkit-text-stroke: .5px rgba(0, 0, 0, 0.103);
    color: #d8cffc !important;
    font-size: x-large;
    text-shadow:
      2px 2px 1px #000,
      -1px -1px 1px #000,
      1px -1px 1px #000,
      -1px 1px 1px #000,
      1px 1px 1px #000;
}

body{
    background-color: #264653;
}

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  background-color: #F4A261;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }

}

.commentFormBG{
    background-color: #E76F51;
  }

  .coolBorder {
    border: 1px solid #E9C46A;
  }

  .coolBoxShadow{
    box-shadow: 3px 3px 1px #E9C46A;
  }

  textarea{
    background-color: #2A9D8F !important;
    border: none !important;
    outline: none !important;
    // color: black !important;
    font-size: x-large !important;
    resize: none;
    overflow:hidden;
  }
  
  .inputForm{
    background-color: #2A9D8F !important;
    border: none !important;
    outline: none !important;
    // color: black !important;
    font-size: large !important;
    resize: none;
    overflow:hidden;
  }

  p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 8;
  }